input[placeholder], [placeholder], *[placeholder]{
    color: blue !important;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
}

body{
    background-color: aqua;
}


