@keyframes form {
    0%  {background-color: aqua;}
    25% {background-color: yellow;}
    50% {background-color: aliceblue;}
    100% {background-color: aquamarine;}
}

div{
    background-color: purple;
    animation-name: form;
    animation-duration: 5s;
}

input[placeholder], [placeholder], *[placeholder]{
    color: blue !important;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
}

